﻿@{
	Layout = null;
}
@*@model System.Web.Mvc.HandleErrorInfo*@

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Error</title>
</head>
<body>
	<hgroup>
		<h1>Something went wrong.</h1>
		<h2>Call the Doctor!</h2>
	</hgroup>
	@*<pre>
		@Model.Exception
	</pre>*@
</body>
</html>
