﻿@{
    ViewBag.Title = "Playthrough";
}
@model IEnumerable<IfTelemetry.Models.Playthrough>

<div class="jumbotron">
    <h2>Playthroughs for @ViewBag.GameName</h2>
</div>

<div class="row">
    <div class="col-md-10">
        <h2>Playthroughs</h2>
        <ul>
					@foreach(var playthrough in Model) {
						<li><h3>@Html.ActionLink(string.Format("{0}", playthrough.PlaythroughName), "Playthrough", new { gameId = playthrough.GameId, playthroughId = playthrough.PlaythroughId }) - <small>@string.Format("started at {0}", playthrough.Timestamp.ToLocalTime())</small></h3></li>
					}
        </ul>
    </div>
</div>