﻿@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<IfTelemetry.Models.Game>

<div class="jumbotron">
    <h2>IF Telemetry</h2>
</div>

<div class="row">
    <div class="col-md-10">
        <h2>Games</h2>
        <ul>
					@foreach (var game in Model) {
						<li><h3>@Html.ActionLink(string.Format("{0}", game.GameName), "Game", new { gameId = game.GameId }) - <small>@string.Format("emerged at {0}", game.Timestamp.ToLocalTime())</small></h3></li>
					}
        </ul>
    </div>
</div>