﻿@{
    ViewBag.Title = "Playthrough";
}
@model IEnumerable<IfTelemetry.Models.GameAction>

<div class="jumbotron">
    <h2>Actions for @ViewBag.PlaythroughName</h2>
</div>

<div class="row">
    <div class="col-md-12">
      <h2>Actions</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<td class="col-md-1">#</td>
						<td class="col-md-2">Performed at</td>
						<td class="col-md-1">Type</td>
						<td>Action</td>
					</tr>
				</thead>
				<tbody>
					@foreach(var gameAction in Model) {
						<tr>
							<td>@gameAction.ActionOrder</td>
							<td>@gameAction.Timestamp.ToLocalTime()</td>
							<td>@gameAction.ActionType</td>
							<td>@gameAction.ActionName</td>
						</tr>
					}
				</tbody>
			</table>
    </div>
</div>